<div class="mb-3">
  <form action="/news">
  <div class="mb-3">
    <label for="search-input" class="form-label">Nhập từ khóa</label>
    <input type="text" name="q" class="form-control" id="search-input" aria-describedby="emailHelp" placeholder="Nhập từ khóa...">
    <div id="emailHelp" class="form-text">We'll search for you.</div>
  </div>

  <div class="mb-3">
    <label for="gender-input" class="form-label">Chọn giới tính</label>
    <select name="gender" class="form-control" id="gender-input" aria-describedby="genderHelp">
      <option value="">-- Chọn giới tính --</option>
      <option value="male">Nam</option>
      <option value="female">Nữ</option>
      <option value="orther">Khác</option>
    </select>
    <div id="genderHelp" class="form-text">Choose your gender.</div>
  </div>

  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
</div>